.full-header {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.top-answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.3s ease-in;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.top-answers .container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: fadeIn 0.4s ease-in-out;
}

.top-answers-element {
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    box-shadow:0px 5px rgb(172, 172, 172);
    color: black;
    font-weight: bold;
    margin: 5px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.top-answers-element .name, .top-answers-element .rank {
    display: flex;
    align-items: center;
}

.top-answers-element .rank {
    justify-content: right;
}

.teams-container {
    display: flex;
    width: 90vw;
    gap: 15px;
    justify-items: center;
    justify-content: center;
    animation: fadeIn 0.5s ease-in-out;
    margin-top: 35px;
}

.team-card, .team-card-light {
    border: 3px solid white;
    border-radius: 15px;
    padding: 0px 10px;
    max-width: 500px;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
    background-color: rgb(56, 56, 56);
}

.team-card-light {
    border-color: black;
    background-color: white;
}

.teams-1 {
    width: 100%;
    min-width: 300px;
}
.teams-2 {
    width: 45vw;
    min-width: 250px;
}
.teams-3 {
    width: 27vw;
    min-width: 200px;
}

.team-card .score {
    font-weight: bolder;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guesses-container .score {
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.current-team {
    border-color: #646cff;
    transform: scale(1.1);
    margin: 0px 15px;
    box-shadow: 0px 0px 8px hsl(237, 100%, 80%);
}

.winning-team, .winning-team-light {
    border-color: goldenrod;
    transform: scale(1.05);
    margin: 0px 15px;
    box-shadow: 0px 0px 20px goldenrod
}

.winning-team .score {
    color: gold;
    gap: 10px;
}

.winning-team-light .score {
    color: goldenrod;
    gap: 10px;
}

.screen {
    box-sizing: border-box;
    width: 90vw;
    width: 100vw;
    min-height: 100vh;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-screen {
    animation: fadeIn 0.1s ease-in;
    margin-top: 30px;
    min-height: 100vh;
}

.guesses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-options :not(.start-game-button) {
    font-weight: bold;
    font-size: large;
}

.num-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.num-select, .num-select-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.icon {
    display: flex;
    align-items: center;
    padding: 0px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.02);
    color: gold;
}

.icon:active {
    transform: scale(0.90);
    color: hsl(51, 100%, 60%);
}

.num, .num-light {
    font-weight: bold;
    width: 4vw;
    max-width: 50px;
    padding: 5px;
    background-color: rgb(88, 88, 88);
    border-radius: 5px;
    transition: all 0.6s ease-in-out;
}

.num-light {
    background-color: rgb(228, 228, 228);
}

.game-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: x-large;
    padding: 20px;
    border:3px solid rgb(150, 150, 150);
    border-radius: 25px;
}

@media (min-width: 768px) {
    .game-header {
        max-width: 500px;
        height: 250px;
    }
}

.guess-remaining, .guess-remaining-light {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: large;
    font-weight: bold;
}

.guess-remaining-light {
    color: rgb(78, 78, 78);
}

.guess-remaining-light .num {
    color: white;
}

.category .title {
    margin: 15px 0px;
    font-size: xx-large;
}

.category .source, .category .updated {
    font-size: medium;
    font-style: italic;
    color: hsl(0, 0%, 53%);
}

.category .updated {
    margin-bottom: 30px;
}

.rounds {
    font-size: large;
}

#submit-guess {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 25px 0px;
}

.guess-input, .guess-input-light {
    border: 2px solid white;
    width: 35vw;
    max-width: 500px;
    height: 50px;
    padding: 0px 10px;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all 0.1s ease;
    margin-bottom: -10px;
}

.guess-input-light {
    background-color: white;
    color: rgb(73, 73, 73);
    border: 2px solid grey;
    transition: all 0.3s ease-in-out;
}

#submit-guess label {
    font-size: large;
    font-weight: bold;
}

.error-msg {
    color: rgb(255, 72, 72);
    font-weight: bold;
    animation: shake 0.1s ease-in-out 0s 3 alternate none;
}

@keyframes shake {
    from {
        transform: translateX(-5px);
    } to {
        transform: translateX(5px);
    }
    
}

#input-error input {
    border-color: rgb(255, 72, 72);
}

.hints {
    border: 3px solid rgb(151, 151, 151);
    font-size: larger;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    max-width: 600px;
    scale: 0.9;
}

.hints p {
    margin: 5px 0px;
}

.hints .subtitle {
    font-weight: bold;
    margin-top: 35px;
}

.hints #section-title {
    margin-top: 20px;
    font-weight: bold;
    font-size: x-large;
}

.hints .example {
    font-weight: bold;
    color: rgb(255, 138, 138);
}

.hints .example-light {
    font-weight: bold;
    color: rgb(255, 68, 35);
}

.select-and-hints {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

