.last-guess, .previous-guess, .last-guess-light, .previous-guess-light {
    border-radius: 15px;
    height: fit-content;
    display: grid;
    grid-template-columns: 6fr 2fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 8px;
    box-sizing: border-box;
    margin: 8px;
    transition: all 0.2s ease-in-out;
    border: 2px solid hsl(0, 0%, 70%);
    box-shadow:0px 8px hsl(0, 0%, 70%);
}

.last-guess-light, .previous-guess-light {
    box-shadow: 0px 8px #666666;
    border: 2px solid #666666;  
}

.last-guess, .last-guess-light {
    min-width: 150px;
    animation: addGuess 0.2s ease-in-out;
}

.teams-1 .last-guess, .teams-1 .last-guess-light {
    max-width: 400px;
    min-width: 200px;
    width: 80vw;
    border: 2px solid hsl(0, 0%, 70%);
    box-shadow:0px 8px hsl(0, 0%, 70%);
}
.teams-1 .last-guess-light {
    box-shadow: 0px 8px #666666;
    border: 2px solid #666666;   
}

.teams-2 .last-guess, .teams-2 .last-guess-light {
    max-width: 300px;
    min-width: 200px;
    width: 45vw;
    border: 2px solid hsl(0, 0%, 70%);
    box-shadow:0px 4px hsl(0, 0%, 70%);
}
.teams-2 .last-guess-light {
    box-shadow: 0px 4px #666666;
    border: 2px solid #666666;   
}

.teams-3 .last-guess, .teams-3 .last-guess-light {
    max-width: 200px;
    min-width: 150px;
    width: 27vw;
    border: 2px solid hsl(0, 0%, 70%);
    box-shadow:0px 4px hsl(0, 0%, 70%);
}
.teams-3 .last-guess-light {
    box-shadow: 0px 4px #666666;
    border: 2px solid #666666;   
}

.previous-guesses-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 35vw;
    align-items: center;
    justify-content: center;
}

.previous-guess, .previous-guess-light {
    min-width: 140px;
    min-height: 25px;
    height: fit-content;
    width: fit-content;
    font-size: small;
    box-shadow:0px 4px hsl(0, 0%, 70%);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-sizing: content-box;
    padding: 2px 5px;
    box-sizing: border-box;
}

.previous-guess-light {
    background-color: white;
    box-shadow: 0px 4px #666666;
    border: 2px solid #666666;
}

@keyframes addGuess {
    from {
        opacity: 0;
        transform: translateY(-50px) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.last-guess .guess-trophy-icon {
    color: white;
}

.guess, .points {
    width: 100%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.valid-guess {
    background-color: rgb(255, 255, 255);
    color: green;
}

.invalid-guess {
    background-color: rgb(255, 255, 255);
    color: red;
}

#golden-guess {
    background-color: gold;
    box-shadow:0px 4px 0px goldenrod;
    color: black;
    border: 2px solid goldenrod
}

.guess-trophy-icon {
    font-size: xx-large;
    display: flex;
    justify-content: right;
}

.golden-guess .guess-trophy-icon {
    color: hsl(43, 74%, 58%);
    filter: drop-shadow(1px 1px black);
}

.previous-guesses {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-guesses {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

